.profile-banner{
    box-sizing: border-box;
    background-image: url(../../assets/img/imagem_fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid black;
    height: 1050px;
    padding-top: 220px;
    padding-left: 270px;
 
   
    
}

.profile-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 690px;
 
   
}

.profile-banner .box{
    margin-bottom: 40px;

}

.profile-banner .navigation{
    display: flex;
    justify-content: space-around;
}
